// Set your brand colors
$autobahn-blue: #028DFE;
$white: #fff;
$autobahn-font: "Lato", sans-serif;

// Update Bulma's global variables
$primary: $autobahn-blue;

// Update some of Bulma's component variables


@import "~bulma/bulma.sass";